---
import { Course, db } from "astro:db";
import { createForm } from "simple:form";
import Button from "@/components/ui/button.astro";
import Card from "@/components/ui/card.astro";
import ErrorMessage from "@/components/ui/error-message.astro";
import Input from "@/components/ui/input.astro";
import Label from "@/components/ui/label.astro";
import Textarea from "@/components/ui/textarea.astro";
import Layout from "@/layouts/Layout.astro";
import { z } from "zod";

const formCourse = createForm({
  title: z.string({ required_error: "Title is required" }),
  description: z.string({ required_error: "Description is required" }),
  category: z.string({ required_error: "Category is required" }),
});

const result = await Astro.locals.form.getData(formCourse);

if (result?.data) {
  await db.insert(Course).values(result.data);
}

const courses = await db.select().from(Course);
---

<Layout title="Explore">
  <main class="page-container">
    <section class="">
      <form class="" method="post">
        <Label>
          <span>Title</span>
          <Input error={!!result?.fieldErrors?.title} {...formCourse.inputProps.title} />
          <ErrorMessage messages={result?.fieldErrors?.title}/>
        </Label>

        <Label>
          <span>Description</span>
          <Textarea error={!!result?.fieldErrors?.description} {...formCourse.inputProps.description}/>
          <ErrorMessage messages={result?.fieldErrors?.description}/>
        </Label>

        <Label>
          <span>Category</span>
          <Input error={!!result?.fieldErrors?.category} {...formCourse.inputProps.category} />
          <ErrorMessage messages={result?.fieldErrors?.description}/>
        </Label>

        <Button variant="primary">Save</Button>
      </form>
    </section>

    <section class="" style={{marginTop: '10rem'}}>
      <ul class="list">
        {
          courses.map((course) => (
            <li class="">
              <a href={`/courses/${course.id}`}>
                <Card>
                  <Fragment slot="content">
                    <p class="">
                      {course.category}
                    </p>
                    <h4 class="">{course.title}</h4>
                    <p class="">{course.description}</p>
                  </Fragment>
                </Card>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>

<style>
  form {
    max-width: 30rem;
  }

  form > * + * {
    margin-top: 1.5rem;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding-block: 1rem;

    @media (min-width: 48rem) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
</style>
