---
import { Course, db } from "astro:db";
import { createForm } from "simple:form";
import Card from "@/components/Card.astro";
import Layout from "@/layouts/Layout.astro";
import { z } from "zod";

const formCourse = createForm({
  title: z.string(),
  description: z.string(),
  category: z.string(),
});

const result = await Astro.locals.form.getData(formCourse);

if (result?.data) {
  await db.insert(Course).values(result.data);
}

const courses = await db.select().from(Course);
---

<Layout title="Explore">
  <main class="container mx-auto w-full space-y-6 p-6">
    <section class="max-w-md">
      <form class="space-y-6" method="post">
        <label class="grid gap-1">
          Title
          <input {...formCourse.inputProps.title} />
          {
            result?.fieldErrors?.title?.map((error) => (
              <p class="text-xs font-semibold text-destructive" role="alert">{error}</p>
            ))
          }
        </label>

        <label class="grid gap-1">
          Description
          <textarea {...formCourse.inputProps.description}></textarea>
          {
            result?.fieldErrors?.title?.map((error) => (
              <p class="text-xs font-semibold text-destructive" role="alert">{error}</p>
            ))
          }
        </label>

        <label class="grid gap-1">
          Category
          <input {...formCourse.inputProps.category} />
          {
            result?.fieldErrors?.title?.map((error) => (
              <p class="text-xs font-semibold text-destructive" role="alert">{error}</p>
            ))
          }
        </label>

        <button>Save</button>
      </form>
    </section>

    <section class="">
      <ul class="flex flex-wrap gap-4">
        {
          courses.map((course) => (
            <li class="max-w-sm">
              <a href={`/courses/${course.id}`}>
                <Card>
                  <span class="text-xs uppercase leading-tight">
                    {course.category}
                  </span>
                  <h4 class="text-xl font-semibold">{course.title}</h4>
                  <p class="text-sm text-neutral-500">{course.description}</p>
                </Card>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>

<script>
  import autoAnimate from "@formkit/auto-animate";

  document.querySelectorAll('li').forEach((item) => {
    autoAnimate(item)
  })
  document.querySelectorAll('label').forEach((item) => {
    console.log(item)
    autoAnimate(item)
  })
  document.querySelectorAll('p[role=alert]').forEach((item: any) => {
    autoAnimate(item)
  })
</script>
