---
import { Course, db } from "astro:db";
import { createForm } from "simple:form";
import Card from "@/components/Card.astro";
import Layout from "@/layouts/Layout.astro";
import { z } from "zod";

const formCourse = createForm({
  title: z.string({ required_error: "Title is required" }),
  description: z.string({ required_error: "Description is required" }),
  category: z.string({ required_error: "Category is required" }),
});

const result = await Astro.locals.form.getData(formCourse);

if (result?.data) {
  await db.insert(Course).values(result.data);
}

const courses = await db.select().from(Course);
---

<Layout title="Explore">
  <main class="page-container">
    <section class="max-w-md">
      <form class="space-y-6" method="post">
        <label class="form-control">
          <span class="form-label">Title</span>
          <input class:list={["form-input", {'form-input--invalid': result?.fieldErrors?.title}]} {...formCourse.inputProps.title} />
          {
            result?.fieldErrors?.title?.map((error) => (
              <p class="form-error" role="alert">{error}</p>
            ))
          }
        </label>

        <label class="form-control">
          <span class="form-label">Description</span>
          <textarea class:list={["form-textarea", {'form-input--invalid': result?.fieldErrors?.description}]} {...formCourse.inputProps.description}></textarea>
          {
            result?.fieldErrors?.description?.map((error) => (
              <p class="form-error" role="alert">{error}</p>
            ))
          }
        </label>

        <label class="form-control">
          <span class="form-label error">Category</span>
          <input class:list={["form-input", {'form-input--invalid': result?.fieldErrors?.category}]} {...formCourse.inputProps.category} />
          {
            result?.fieldErrors?.category?.map((error) => (
              <p class="form-error" role="alert">{error}</p>
            ))
          }
        </label>

        <button data-variant="primary">Save</button>
      </form>
    </section>

    <section class="" style={{marginTop: 'var(--size-10)'}}>
      <ul class="list">
        {
          courses.map((course) => (
            <li class="">
              <a class="card" href={`/courses/${course.id}`}>
                <div class="card__content">
                  <p class="">
                    {course.category}
                  </p>
                  <h4 class="">{course.title}</h4>
                  <p class="">{course.description}</p>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>

<style>
  form {
    max-width: var(--size-15);
  }

  form > * + * {
    margin-top: var(--size-5);
  }

  .list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: var(--size-3);
      padding-block: var(--size-3);
    }

  @media (width >= 48rem) {
    .list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
</style>
